@import "../../styles/mixins.scss";

//   Menu section start 
.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: all 150ms ease-in-out;
    min-height: 50px;
    padding: 5px 0;

    .sidebar-logo {
        font-size: 23px;
        color: #fff;
        @include setToCenter();
        @include box(23px);
        object-fit: cover;
    }

    .sidebar-menu-content {
        @include fontProperties(11px, 600, #fff);
        text-align: center;
    }

    &:hover {
        background-color: rgba(31, 148, 255, 0.1);
        border-left: 5px solid var(--activeMenu);
    }
}

//   Menu section start 